<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List EMployees</title>
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>

    <!--    <script src="views/employees/blog.js"></script>-->
</head>
<body>
<div class="container" id="container">
    <h1>All Employees</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">Create</button>
    <table id="dataTable" class="table table-dark table-hover" border="1px" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>ID Card</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Group</th>
            <th>DOB</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="tableTV">

        </tbody>
    </table>

</div>
<!-- Modal Create -->
<div class="modal" id="modalCreate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Telivision</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="createForm">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="name" name="name" class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none" class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-9">
                            <input type="number" id="phone" name="phone" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Email</label>
                        </div>
                        <div class="col-9">
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>ID Card</label>
                        </div>
                        <div class="col-9">
                            <input type="number" id="cmnd" name="cmnd" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Address</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="address" name="address" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Date Of Birth</label>
                        </div>
                        <div class="col-9">
                            <input type="date" id="dob" name="dob" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label for="group_name">Group</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="group_name" name="group_name">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="gender" name="gender">
                                <option value="male">MALE</option>
                                <option value="female">FEMALE</option>
                                <option value="other gender">OTHER GENDER</option>
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-9">
                            <input type="hidden" id="id" class="form-control" required>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-warning" onclick="return  employees.create()"
                               value="Create">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Model Update-->
<div class="modal" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form id="updateForm">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="nameUpdate" name="nameUpdate" class="form-control" required
                                   th:maxlength="45">
                            <p style="color: red;display: none" class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-9">
                            <input type="number" id="phoneUpdate" name="phoneUpdate" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Email</label>
                        </div>
                        <div class="col-9">
                            <input type="email" id="emailUpdate" name="emailUpdate" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Address</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="addressUpdate" name="addressUpdate" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Date Of Birth</label>
                        </div>
                        <div class="col-9">
                            <input type="date" id="dobUpdate" name="dobUpdate" class="form-control"
                                   required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>ID Card</label>
                        </div>
                        <div class="col-9">
                            <input type="number" id="cmndUpdate" name="cmndUpdate" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label for="group_nameUpdate">Group</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="group_nameUpdate" name="group_nameUpdate">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="genderUpdate" name="genderUpdate">
                                <option value="male">MALE</option>
                                <option value="female">FEMALE</option>
                                <option value="other gender">OTHER GENDER</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-9">
                            <input type="hidden" id="idUpdate" class="form-control" required>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-warning" onclick="return  employees.update()"
                               value="Update">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    var employees = {} || employees;
    var group = {} || group;
    var groupData = [];
    employees.drawTable = function () {
        $.ajax({
            url: "http://localhost:8080/api/employees/",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#tableTV').empty();
                $.each(data, function (i, v) {
                    $('#tableTV').append(
                        "<tr>" +
                        "<td>" + v.id + "</td>" +
                        "<td>" + v.name + "</td>" +
                        "<td>" + v.phone + "</td>" +
                        "<td>" + v.email + "</td>" +
                        "<td>" + v.cmnd + "</td>" +
                        "<td>" + v.address + "</td>" +
                        "<td>" + v.gender + "</td>" +
                        "<td>" + v.groups.name + "</td>" +
                        "<td>" + v.dob + "</td>" +
                        "<td>" +
                        "<a class='ml-3 btn btn-warning' href='#' onclick='employees.get(" + v.id + ")' data-toggle=\"modal\" data-target=\"#modalUpdate\">Edit</a>" +
                        "<a class='ml-3 btn btn-danger' href='#' onclick='employees.remove(" + v.id + ")'>Delete</a>" +
                        "</td>" +
                        "</tr>"
                    );
                });
                $('#dataTable').DataTable();
            }
        });

    };

    employees.remove = function (id) {
        bootbox.confirm({
            message: "Do you want to delete this Employees",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/employees/" + id,
                        method: "DELETE", //"POST"
                        dataType: 'json',
                        success: function (data) {
                            employees.drawTable();
                            toastr.info('employees has been deleted successfully', 'INFORMATION:')
                        }
                    });
                }
            }
        });


    }


    employees.create = function () {
        if ($('#createForm').valid()) {
            var tv = {};
            tv.name = $('#name').val();
            tv.phone = $('#phone').val();
            tv.email = $('#email').val();
            tv.cmnd = $('#cmnd').val();
            tv.address = $('#address').val();
            tv.gender = $('#gender').val();
            tv.dob = $('#dob').val();
            tv.groups = group.findById(parseInt($('#group_name').val()));
            $.ajax({
                url: "http://localhost:8080/api/employees/",
                method: "POST", //"POST"
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(tv),
                success: function (data) {
                    employees.drawTable();
                    toastr.success('employees has been Created successfully', 'INFORMATION:');
                }
            })
        }
        employees.reset();
        return false;
    }

    employees.get = function (id) {
        $.ajax({
            url: "http://localhost:8080/api/employees/" + id,
            method: "GET",
            dateType: "json",
            success: function (data) {
                $('#nameUpdate').val(data.name);
                $('#phoneUpdate').val(data.phone);
                $('#emailUpdate').val(data.email);
                $('#cmndUpdate').val(data.cmnd);
                $('#addressUpdate').val(data.address);
                $('#genderUpdate').val(data.gender);
                $('#group_nameUpdate').val(data.groups.id);
                $('#dobUpdate').val(data.dob);
                $('#idUpdate').val(data.id);
            }
        })
    }

    employees.update = function (id) {

        if ($('#updateForm').valid()) {
            var tv = {};
            tv.name = $('#nameUpdate').val();
            tv.phone = $('#phoneUpdate').val();
            tv.email = $('#emailUpdate').val();
            tv.cmnd = $('#cmndUpdate').val();
            tv.address = $('#addressUpdate').val();
            tv.gender = $('#genderUpdate').val();
            tv.groups = group.findById(parseInt($('#group_nameUpdate').val()));
            tv.dob = $('#dobUpdate').val();
            tv.id = $('#idUpdate').val();

            $.ajax({
                url: "http://localhost:8080/api/employees/",
                method: "PUT", //"POST"
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(tv),
                success: function (data) {
                    console.log(data);
                    employees.drawTable();
                    toastr.success('Employees has been updated successfully', 'INFORMATION:')

                }
            });
            return false;
        }


    }


    group.lisGroups = function () {
        $.ajax({
            url: "http://localhost:8080/api/groups/",
            method: "GET",
            dataType: "json",
            success: function (data) {
                groupData = data;
                $.each(data, function (i, v) {
                    $('#group_name').append(
                        "<option value='" + v.id + "'>" + v.name + "</option>"
                    );
                });

                $.each(data, function (i, v) {
                    $('#group_nameUpdate').append(
                        "<option value='" + v.id + "'>" + v.name + "</option>"
                    );
                });
            }
        });
    }
    group.findById = function (id) {
        for (let i = 0; i < groupData.length; i++) {
            if (id === groupData[i].id) {
                return groupData[i];
            }
        }
        return null;
    }


    employees.reset = function () {
        $('#name').val('');
        $('#phone').val('');
        $('#email').val('');
        $('#cmnd').val('');
        $('#address').val('');
        $('#gender').val('');
        $('#group_name').val('');
        $('#dob').val('');


    }


    $(document).ready(function () {
        employees.drawTable();
        group.lisGroups();
        $('#updateForm').validate({
            rules: {
                nameUpdate: {
                    required: true,
                    minlength: 5,
                    maxlength: 45,
                },
                phoneUpdate: {
                    required: true,
                    minlength: 10,
                    maxlength: 12,

                },
                emailUpdate: {
                    required: true,
                    maxlength: 50,
                    minlength: 10,
                },
                cmndUpdate: {
                    required: true,
                    minlength: 9,
                    maxlength: 10,
                },
                addressUpdate: {
                    required: true,
                    minlength: 10,

                },
                genderUpdate: {
                    required: true,
                },
                dobUpdate: {
                    required: true,
                }
            },
            messages: {
                nameUpdate: {
                    required: 'Tên không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                    minlength: 'Tên có ít nhất 5 ký tự a Phúc ơi',
                    maxlength: 'Tên có nhiều nhất 45 ký tự a Phúc ơi',
                },
                phoneUpdate: {
                    required: ' phone không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                },
                emailUpdate: {
                    required: 'email không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                },
                cmndUpdate: {
                    required: "cmnd không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                addressUpdate: {
                    required: "address không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                genderUpdate: {
                    required: "gender không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                dobUpdate: {
                    required: "dob không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                }

            }
        });


        $('#createForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 5,
                    maxlength: 45,
                },
                phone: {
                    required: true,
                    minlength: 10,
                    maxlength: 12,

                },
                email: {
                    required: true,
                    maxlength: 50,
                    minlength: 10,
                },
                cmnd: {
                    required: true,
                    minlength: 9,
                    maxlength: 10,
                },
                address: {
                    required: true,
                    minlength: 10,

                },
                gender: {
                    required: true,
                },
                dob: {
                    required: true,
                }
            },
            messages: {
                name: {
                    required: 'Tên không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                    minlength: 'Tên có ít nhất 5 ký tự a Phúc ơi',
                    maxlength: 'Tên có nhiều nhất 45 ký tự a Phúc ơi'
                },
                phone: {
                    required: ' phone không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                },
                email: {
                    required: 'email không được bỏ trống nghe a Phúc..Test cẩn thận đi anh',
                },
                cmnd: {
                    required: "cmnd không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                address: {
                    required: "address không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                gender: {
                    required: "gender không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                },
                dob: {
                    required: "dob không được bỏ trống nghe a Phúc..Test cẩn thận đi anh",
                }

            }
        });
    });
</script>
</body>
</html>
